html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.clear-button {
    color: white;
    background-color: green;;
    border-radius: 25px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 30px;
    margin: 40px;
}

.reset-button {
    color: white;
    background-color: red;;
    border-radius: 25px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 30px;
    margin: 40px;
}

.button-container {
    display: flex;
    flex-direction: column;
}